# network configs
#bind_address=localhost
#bind_address=ec2-13-56-39-109.us-west-1.compute.amazonaws.com
bind_address=passvault.erikdevelopernot.net
bind_port=8443
#service threads specifies starting thread count, can grow to max connections cout, will shrink also
service_threads=10
max_service_threads=250
ssl=true
server_cert=/opt/sync_server/cert.pem
server_key=/opt/sync_server/privkey.pem
server_max_connections=5000
server_keep_alive=10
server_use_keep_alive_cleaner=true
server_tcp_back_log=250


# db settings
#db_server=127.0.0.1
db_server=passvault-db
db_port=5432
db_password=passvault-secret
db_username=passvault-user
db_name=passvault
db_cleaner=true
db_cleaner_interval=1
db_cleaner_purge_days=20
db_cleaner_history_purge_days=10
db_min_connections=10
db_max_connections=70

